#root {
  max-width: 1290px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  display: flex;
  min-height: 100%;
}

.Home,
.Explore,
.Profile,
.FollowPage {
  flex-grow: 1;
  margin-left: 320px;
}

@media (max-width: 769px) {
  .App {
    flex-direction: column-reverse;
  }
  .Home,
  .Explore,
  .Profile,
  .FollowPage {
    margin-left: 0;
  }
}
