#root {
  min-height: 90vh;
  max-width: 1290px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  display: flex;
  min-height: 90vh;
}

.Home,
.Explore,
.Profile,
.FollowPage,
.PostDetail {
  flex-grow: 1;
  margin-left: 320px;
  border-right: 1px solid #3f72af;
  border-left: 1px solid #3f72af;
  padding: 1rem;
}

@media (max-width: 769px) {
  .App {
    flex-direction: column-reverse;
  }
  .Home,
  .Explore,
  .Profile,
  .FollowPage,
  .PostDetail {
    margin-left: 0;
    margin-bottom: 10vh;
    border: none;
  }
}
